<nav class="site-nav">
    <div class="nav-container">
        <a href="#" class="logo-link" data-path="index.html"><img src="" data-logo-src="img/Formula-1-Fans-Global2.jpg" alt="Logo F1" class="logo" loading="lazy"></a>

        <ul class="nav-links">
            <li><a href="#" data-path="index.html">🏠 Inicio</a></li>
            <li><a href="#" data-path="html/paginas/noticias.html">📰 Noticias</a></li>
            <li><a href="#" data-path="html/paginas/tienda.html">🛍️ Tienda</a></li>
            <li><a href="#" data-path="html/paginas/en-vivo.html">📺 En Vivo</a></li>
            <!-- <li><a href="#" data-path="html/paginas/calendario_temporada.html" data-nav-current-season>📅 Temporada actual</a></li> -->
            <!-- <li><a href="#" data-path="html/paginas/temporadas.html">📚 Temporadas</a></li> -->
        </ul>
    </div>
</nav>
